.subList{
    display: none;
    list-style: none;
    position: absolute;
    top: 35px;
    background-color: #abc7c6;
    border-radius: 5px;
    padding: 0px;


}



.subList li{
    padding: 4px 10px;
    font-size: 20px;
    border-bottom: 1px solid;
}
.subList li a:hover { color:#ECB78B;}

.top:hover .subList{ 
    display: block;
}


.line{
    color: #515151;
    text-decoration:none;
    text-align:center;   
}


.lable-v{
    color:  #515151;
    font-weight: bolder;
    height: 20px;
    margin-top: 250px;
    margin-left: 650px;
    text-align: center;
    font-size: 40px;
    position: absolute; 
}
.yrate{
    color: #515151;
    font-weight: bolder;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 50px;
}

.container9{
    display: flex ;
    justify-content: center;
    height: 500px;
    overflow-x: hidden;
}




.container{
    position: absolute;
    font-family: fantasy;
    display: flex ;
    justify-content: center;
    height: 1000px;
    margin-top: 350px;
    margin-left: 300px;
   overflow: scroll;
    overflow-x: hidden;
    width:1000px;

   }


   .card2{
    color: #515151;
    background-color: #ECB78B;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100vh;
    height: 140px;
    margin: 18px;
    border-radius: 45px ;
}
   .card2-cb{
    color: #515151;
    background-color: #ECB78B;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100vh;
    height: 160px;
    margin: 18px;
    border-radius: 45px ;
}

.item2 { grid-area: pic; }
.item3 { grid-area: com; }
.item4 { grid-area: str ; }

.grid-container {
  display: grid;
  grid-template-areas: 'pic com str';
  gap: 10px;
  padding: 10px;

}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}



.checked {
  color: #c59b08;
}



     .Sitter-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    transition: 0.3s;

}



.Sitter-data li{
list-style-type: none;
display: inline-block;
}

.Sitter-pic{
   height:70px ;
    width: 70px;
    position: relative;
    right: 8px;
    border-radius: 50%;
    padding: 10px;
    top: -15px;
}

.Sitter-info{
    position: relative;
    right:150px;
    color: #515151;
}


.star-data{
    position: relative;
    top: 20px;
    display:inline-flex;
    justify-content: left;
    align-items: end;

}

.perant-rates{
     position: relative;
    display:inline-flex;
    justify-content: right;


}

.perant-data{
    position: relative;
    top: 20px;
    font-size: 25px;
	display:inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5em;
	transition: 0.3s;
    line-height: 2;
    grid-row: 3;

}
.perant-data1{
    position: absolute;
    top:40px;
right: -500px;
    font-size: 25px;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    transition: 0.3s;
    line-height: 9;

}

.perant-data li{

list-style-type: none;
display: inline;
}

.p-info{
    position: relative;
    right: 250px;
    color: #515151;

}



.container1{
	position: absolute;
	display: grid;
	text-align: left;
	place-content : center;
    justify-items:  left;
    align-items: center;
	background-color: #ECB78B;
    border-radius: 45px;
	height:  105vh;
    width: 100vh;
	left: 300px;
    top: 350px;
	z-index:  1;
	box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container1 .title{
	font-size: 30px;
	font-weight: bolder;
	padding-left: 5px;
	position: absolute;
    top: 35px;    
	color: #515151;


}


.container1 .title::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 35px;
	background: #515151;
}

.profile-pic{
	height: 190px;
	width: 190px;
	position: absolute;
	top: 17%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #A5B2A1;/**/
}

#userphoto{
	height: 100%;
	width: 100%;
}

#uploadBtn{
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	color: #dbdcd8;
	line-height: 30px;
	font-size: 15px;
	cursor: pointer;
}
#uploadBtn:hover{
    color: #ECB78B;
}

.container1 form .user-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 230px 0px 12px 35px;
}

form .user-details .input-box{
	margin-top: 15px;
	width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
	display: block;
	font-weight: 700;
	margin-bottom: 1px;
	
	font-size: 20px;
     color:#8d8d8d;
}
.user-details .input-box #details1{
    display: block;
    font-weight: 700;
    margin-bottom: 1px;
    color: #515151;
    font-size: 25px;

}
  iframe{
            position:absolute;

            margin-top: -10%;
            margin-left: 10%;
            width: 60% ;
            height: 130%;
            position: relative;
            right: 35px;


        }
        .Location{
       text-decoration: underline;
        }

        .coltext{color:#8d8d8d;}

.user-details .input-box input{
	background-color:#dbdcd8 ;
	outline: none;
	padding: 10px 40px;
	padding-left: 15px;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	margin-top: 1px;
	text-decoration:none ;
	color:#515151;
	border: 1px solid #dbdcd8;
    border-radius: 20px;
	position: relative;
    right: 8px;
    font-family: fantasy;
	width: 280px;
	place-content : center;
    justify-items:  center;
    align-items: center;
	transition: all 0.3s ease;
}
.textcolor{color:#8d8d8d;}



#file{
	display: none;
}

input[type="file"]{
	display: none;
}



/*edit Sitter profile*/

.container2{
	position: absolute;
	display: grid;
	text-align: left;
	place-content : center;
    justify-items:  left;
    align-items: center;
	background-color: #ECB78B;
    border-radius: 45px;
	height:  135vh;
    width: 100vh;
	left: 300px;
    top: 350px;
	z-index:  1;
	box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container2 .title{
	font-size: 30px;
	font-weight: bolder;
	padding-left: 5px;
	position: relative;
	color: #515151;
}

.container2 .title::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 35px;
	background: #515151;
}

.container2 form .user-details2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 200px 0px 12px 35px;
	font-size: 20px;
}

.profile-pic2{
	height: 190px;
	width: 190px;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #A5B2A1;/**/
}

#userphoto2{
	height: 100%;
	width: 100%;
}

#uploadBtn2{
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	color: #dbdcd8;
	line-height: 30px;
	font-size: 15px;
	cursor: pointer;
}
#uploadBtn2:hover{
    color: #ECB78B;
}

form .user-details2 .input-box2{
	margin-top: 15px;
	width: calc(100% / 2 - 20px);
}

.user-details2 .input-box2 .details2{
	display: block;
	font-weight: 700;
	margin-bottom: 1px;
	color: #515151;
	font-size: 20px;
}

.user-details2 .input-box2 input{
	background-color:#dbdcd8 ;
	outline: none;
	padding: 10px 40px;
	padding-left: 15px;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	margin-top: 1px;
	text-decoration:none ;
	color:#515151;
	border: 1px solid #dbdcd8;
    border-radius: 20px;
	position: relative;
    right: 8px;
    font-family: fantasy;
	width: 280px;
	place-content : center;
    justify-items:  center;
    align-items: center;
	transition: all 0.3s ease;
}

.buttonS{
    background-color:#A5B2A1 ;
	outline: none;
    padding: 5px 30px;
	display: inline-block;
    cursor:pointer;
    font-size: 20px;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 300px;
    text-decoration:none ;
    color:#515151;
	border: none;
    border-radius: 20px;
	box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	position: relative;
    font-family: fantasy;
	letter-spacing: 1px;
	place-content : center;
    justify-items:  center;
    align-items: center;
}
.layutbott{right: 30px;}
.layutbott1{right: -10px;}

.input_field{
	margin-bottom: 15px;
	display: block;
	align-items: center;
	padding: 20px 50px;
	padding-left: 3px;
	font-weight: 700;
	color: #515151;
	font-size: 20px;
}

.sitterBio{
	font-size: 20px;
	padding: 15px 50px;
	padding-right: 80px;
	font-weight: 700;
	color: #515151;
}
#bio{
	border-radius: 20px;
	background-color: #dbdcd8;
	color: #515151;
	font-family: fantasy;
	border: 1px solid #dbdcd8;
	border-bottom-width: 2px;
	font-size: 15px;
}


.List-1{
    display:flex;
    align-items: center;
    justify-content: center;  
}

.List-2{
    height:  80vh;
    width: 110vh;
    position: relative;
    right: 302px;
    top: 70px;
}
.lable-b {
    color:  #515151;
    font-weight: bolder;
    width: auto;
    height: 80px;
    margin-top: 180px;
    text-align: center;
    padding: 15px 20px;
    font-size: 40px;
}
#loc-icon{
    width: 0.75em;
}
#get-loc{
    background-color:#dbdcd8 ;
    outline: none;
    padding: 10px 40px;
    padding-left: 15px;
    display: inline-block;
    cursor:pointer;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    margin-top: 2px;
    text-decoration:none ;
    color:#515151;
    border: 1px solid #dbdcd8;
    border-radius: 20px;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    right: 8px;
    font-family: fantasy;
    width: 330px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.buttonDoneB{
   display: inline-block;
  border: 1px ;
    border-radius: 20px;
    background-color: #A5B2A1;
    color: #515151;
    font-family: fantasy;
    top: 300px;
    left: 80px;
    margin:auto 2em ;
    padding: 20px 30px;
    font-weight:bolder ;
    font-size: 14pt;
      position: relative;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.buttonCancelB{
   display: inline;
  border: 1px ;
    border-radius: 20px;
    background-color: #A5B2A1;
    color: #515151;
    font-family: fantasy;
    top: 350px;
    
    margin:auto 2em ;
    padding: 20px 30px;
    font-weight:bolder ;
    font-size: 14pt;
      position: relative;
    right: 300px;
    top: 250px;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}


form .buttonc {
    background-color:#A5B2A1 ;
    outline: none;
    padding: 20px 50px;
    display: inline-block;
    cursor:pointer;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 300px;
    text-decoration:none ;
    color:#515151;
    border: none;
    border-radius: 20px;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    font-family: fantasy;
    letter-spacing: 1px;
    place-content : center;
    justify-items:  center;
    align-items: center;
}








  
